.wrapper {
    display: grid;
    grid-template-columns: 0.11fr 1fr;
    grid-auto-rows: 610px;
}

.box1 {
 background-color: 004A8D;
 padding: 10;
 
}

.box2 {
    background-color: E6E6E6;
   }

.logo-senac {
    width: 75px;
    margin-left: 5px;
    padding-top: 35px;
}

.li{
list-style: none;
color: white;
font-weight: bold;
padding-left: 15px;
}
